* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #f0f2f5;
  --dark-gray: #333333;
}

.flex {
  display: flex;
}

.navbar {
  background-color: var(--dark-gray);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--dark-gray);
}

.navbar-brand {
  color: white !important;
  font-family: "Merriweather", serif;
  margin-left: 3rem;
  margin-bottom: 0;
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid var(--dark-gray);
}

.sidebar ul {
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
}

.textoNegro {
  color: black;
}

.iconoSidebar {
  margin-right: 10px;
}

.sectionContainer {
  padding: 1rem;
}

.tarjetita {
  margin: 1rem;
}
